<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kiosko</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="entity/Auxiliar.hbm.xml"/>
    <mapping resource="entity/Log.hbm.xml"/>
    <mapping resource="entity/AntecedentesPersonales.hbm.xml"/>
    <mapping resource="entity/UnidadTiempo.hbm.xml"/>
    <mapping resource="entity/Login.hbm.xml"/>
    <mapping resource="entity/Paciente.hbm.xml"/>
    <mapping resource="entity/AntecedentesFamiliares.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
